header{
    height: 250px;
    outline: 1px solid red;
    background: url(https://images.immediate.co.uk/production/volatile/sites/4/2018/07/Getty-3e20538.jpg);
    background-size: cover;
    background-position: center center;
}
header h1{
    margin: 0;
    padding: 20px 50px;
}
header h2{
    margin: 0;
    padding: 20px 50px;
}